
					<div class="col-xs-12">
						<div class="control-group">
							<label class="control-label bolder blue" style="cursor: pointer;">
								<input name="form-field-checkbox" type="checkbox" class="ace"/>
								<span class="lbl">权限列表</span>
							</label>
							<div class="checkbox" style="padding-left:20px;">
                                <label class="col-sm-2">
                                    <input name="form-field-checkbox" type="checkbox" class="ace"/>
                                    <span class="lbl"> 权限列表 </span>
                                </label>
							</div>
							<div class="checkbox" style="padding-left:40px;">
								<label class="col-sm-2">
									<input name="form-field-checkbox" type="checkbox" class="ace" />
									<span class="lbl"> 我我我我我我 </span>
								</label>
							</div>
						</div>
					</div>
